@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-gray-100;
}

.animate-match {
  animation: flash 1s ease-in-out;
}

@keyframes flash {
  0% { background-color: rgba(34, 197, 94, 0.2); }
  100% { background-color: transparent; }
}
